<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><strong>Painel de Controle</strong></h1>
        </div>
        <hr>
        <a class="btn btn-primary btn-lg btn-block mt-4" href="/admin/disciplinas" role="button">Disciplinas</a>
        <hr>
        <a class="btn btn-primary btn-lg btn-block mt-4" href="/admin/categorias" role="button">Categorias</a>
        <hr>
        <a class="btn btn-primary btn-lg btn-block mt-4" href="/admin/postagens" role="button">Postagens</a>
        <hr>

        {{#if adm2}}
        <a class="btn btn-primary btn-lg btn-block mt-4" href="/usuarios/registroADM" role="button">Usuarios</a>
        <hr>
        {{else}}
        {{/if}}
    </div>
</div>