<script src="https://kit.fontawesome.com/d9a82de17e.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-book-reader"></i> FET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias"><i class="fas fa-info-circle"></i> Informações</a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/disciplinas"><i class="fas fa-list-ol"></i> Disciplinas</a>
      </li>
      {{#if prof2}}
      <li class="nav-item">
        <a class="nav-link" href="/professor"><i class="fas fa-chalkboard-teacher"></i> Professor</a>
      </li>

      {{else}}
      <div class="dropdown dropdown-toggle-split">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-database"></i> Dados
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">
            <i class="fas fa-list"></i> Historico escolar
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-user-shield"></i> Dados pessoais
          </a>
        </div>
      </div>
      {{/if}}
      {{#if adm2}}
      <div class="dropdown dropdown-toggle-split">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-users-cog"></i> Gerenciar
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/admin/disciplinas">
            <i class="fas fa-list-ol"></i> Disciplinas
          </a>
          <a class="dropdown-item" href="/usuarios/registroADM">
            <i class="fas fa-user-shield"></i> Usuarios
          </a>
          <a class="dropdown-item" href="/admin/postagens">
            <i class="fas fa-blog"></i> Postagens
          </a>
          <a class="dropdown-item" href="/admin/categorias">
            <i class="fas fa-columns"></i> Categorias
          </a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-database"></i> Dados
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/usuarios/historico">
            <i class="fas fa-list"></i> Historico escolar
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-user-shield"></i> Dados pessoais
          </a>
        </div>
      </div>

      {{else}}
      {{/if}}

      {{else}}
      {{/if}}

    </ul>
    {{#if user}}

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
    {{else}}
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
    </ul>
    {{/if}}
  </div>

</nav>