<div class="card">
    <div class="card-body">
        <h4><i class="far fa-user"></i> Login:</h4>
        <form class="mt-4" action="/usuarios/login" method="POST">
            <label for="email"><i class="far fa-envelope"></i> Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            <label for="senha"><i class="fas fa-key"></i> Senha:</label>
            <input type="password" class="form-control" name="password" placeholder="Senha" required>
            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit"> <i class="fas fa-sign-in-alt"></i>
                Login</button>
            <br>
            <a href="/usuarios/forgot_password">Esqueceu a senha?</a><br>
        </form>
    </div>
</div>