<div class="card">
    <div class="card-body">
        <h4>Login:</h4>
        <form class="mt-4" action="/professor/consulta" method="POST">
            <label for="email">Matricula: </label>
            <input type="text" class="form-control" name="matricula" placeholder="matricula" required>
            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">listar disciplinas</button>
            <br>
        </form>
    </div>
</div>