<div class="card">
    <div class="card-body">

        <form class="mt-4" action="/professor/consulta" method="POST">
            <label for="email"><i class="fas fa-id-card-alt"></i> Matricula:</label>
            <input type="text" class="form-control" name="matricula" placeholder="matricula" required>
            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit"><i class="fas fa-search"></i>
                Pesquisar</button>
            <br>
        </form>
    </div>
</div>