<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center"><strong><i class="far fa-newspaper"></i> Informações por
                categorias!</strong></h1><br>

        <div class="row">
            {{#each categorias}}
            <div class="col-sm-4 mt-2">
                <div class="card card-signin text-center">
                    <div id="cardfinal" class="card-body">
                        <h3 class="card-title text-center text-uppercase"><i class="fas fa-exclamation-circle"></i>
                            Aviso: {{nome}}</h3>
                        <p class="card-text">Descrição: {{slug}}</p>
                        <a href="/categorias/{{slug}}">
                            <button class="btn btn-primary">Mais informações <i
                                    class="far fa-question-circle"></i></button>
                        </a><br>
                    </div>
                </div>
            </div>
            {{else}}
            {{/each}}
        </div>
    </div>
</div>

<style>
    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }
</style>