<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center"><strong>Página de Disciplinas!</strong></h1><br>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Aviso:</h5>
                <p class="card-text">Descrição:</p>
            </div>
        </div>
    </div>
</div>